node_modules
*.iml
.idea
*.log*
.nuxt
.vscode
.DS_Store
coverage
dist
sw.*
.env
.output
docs/content/2.functions
nuxt-module/docs/content/2.docs
nuxt-web/content/2.docs/*.md
nuxt-module/src/runtime/utils/*.ts
nuxt-web/utils/*.ts
.VSCodeCounter/
.VSCodeCounter/*
nuxt-web/pages/playground/*
