shamefully-hoist=true
strict-peer-dependencies=false

always-auth=true
registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=761ced06-6919-4aa9-a0c0-1004d3312e65
# @gsap:registry=https://npm.greensock.com