body {
  @apply text-pretty text-gray-950 dark:text-white;
  
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply mt-12 text-3xl font-bold;
  }
  h3 {
    @apply mt-10 text-2xl font-bold;
  }
  p,
  li {
    @apply mt-5 text-lg/[1.75em];
  }
  pre {
    @apply mt-6 flex flex-wrap items-center gap-px rounded-xl border border-black/5 bg-indigo-600/[2%] px-4 py-3.5 font-mono text-sm text-gray-900 dark:border-white/[8%] dark:bg-white/[3%] dark:text-white;
  }
}
