/* Components */
@import '_scrollbar.css';
@import '_content.css';
@import '_animations.css';

/* Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply flex h-11 w-full items-center justify-between rounded-lg border border-black/15 bg-white pl-4 focus:border-indigo-400 focus:outline-0 focus:ring-white dark:border-white/5 dark:bg-white/[3%] dark:focus:border-white/50;
}

body {
  @apply relative min-h-screen w-screen select-text overflow-x-clip scroll-smooth bg-white text-white antialiased selection:bg-amber-400 selection:text-zinc-950 dark:bg-zinc-950;

  &* {
    @apply transition-colors duration-500;
  }
}

/* A better container */
.container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(env(safe-area-inset-left, 0rem) + 1.1rem);
  padding-right: calc(env(safe-area-inset-right, 0rem) + 1.1rem);

  @media screen(md) {
    padding-left: calc(env(safe-area-inset-left, 0rem) + 2rem);
    padding-right: calc(env(safe-area-inset-right, 0rem) + 2rem);
  }

  @media screen(xl) {
    padding-left: calc(env(safe-area-inset-left, 0rem) + 3rem);
    padding-right: calc(env(safe-area-inset-right, 0rem) + 3rem);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
