/* Scrollbar */
html {
  --scrollbar: theme('colors.zinc.800');
  --thumb: theme('colors.zinc.600');
}

body::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar {
  width: 10px;
}

body,
.overflow-y-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb) var(--scrollbar);
}

body::-webkit-scrollbar-track,
.overflow-y-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar);
}

body::-webkit-scrollbar-thumb,
.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumb);
  border-radius: 999px;
  border: 2px solid var(--scrollbar);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
