@import '_scrollbar.css';

body {
  @apply w-screen select-text overflow-x-clip bg-zinc-900 text-white antialiased
  selection:bg-blue-800 selection:text-white scroll-smooth;
}

/* A better container */
.container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(env(safe-area-inset-left, 0rem) + 1.1rem);
  padding-right: calc(env(safe-area-inset-right, 0rem) + 1.1rem);

  @media screen(md) {
    padding-left: calc(env(safe-area-inset-left, 0rem) + 2rem);
    padding-right: calc(env(safe-area-inset-right, 0rem) + 2rem);
  }

  @media screen(xl) {
    padding-left: calc(env(safe-area-inset-left, 0rem) + 3rem);
    padding-right: calc(env(safe-area-inset-right, 0rem) + 3rem);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
